<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AdaptiveConsole" type="AdaptiveConsole.Config.AdaptiveConsoleConfiguration, AdaptiveConsole"/>
  </configSections>
  <AdaptiveConsole provider="Catool.Provider.CatoolApplication, Catool.Provider">
    <repositories>
      <repository name="contracts" assembly="Catool.Contracts"/>
    </repositories>
  </AdaptiveConsole>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
